# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.pyc

# =========================
# Git
# =========================
**/.git

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Node
# =========================
node_modules/

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# Build
# =========================
dist/
build/

# =========================
# AI Models
# =========================
*.pt
*.pth
*.onnx
*.weights

# =========================
# Videos
# =========================
*.mp4
*.mkv
*.avi
*.mov
*.webm

# =========================
# Images (Optional)
# =========================
# *.png
# *.jpg

# =========================
# Archives
# =========================
*.zip
*.7z
*.tar
*.tar.gz
*.rar

# =========================
# Large binaries
# =========================
*.dll
*.pyd
*.so

# =========================
# PyTorch / Torch Cache
# =========================
torch/